/* CSS by Dustin Aguilar - Last revised 8/11/2017 */


/* PRINT STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media print {
    * {
        background: transparent!important;
        color: #000!important;
        box-shadow: none!important;
        text-shadow: none!important;
        filter: none!important;
        -ms-filter: none!important;
    }
    a, a:visited {
        text-decoration: underline
    }
    a[href]:after {;=
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
        content: "";
    }
    img {
        max-width: 100%!important;
    }
    iframe, .iframe {
        display: block;
        width: 100%;
        height: 100%;
    }
    @page {
        margin: .5cm;
    }
    p, h2, h3 {
        orphans: 3;
        widows: 3;
    }
    h2, h3 {
        page-break-after: avoid;
    }
}

/* BASICS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

footer, header, nav, section {
    display: block;
}
html {
    box-sizing: border-box;
    font-size: 100%;
}
*, *::before, *::after {
    box-sizing: inherit;
}
html {
    font-size: 100%;
    background: url(../img/bg.jpg);
}
body {
    line-height: 1.5;
    letter-spacing: -0.05em;
    background: url(../img/starsomg.png) top center no-repeat;
    position: relative;
    margin: 0;
    padding: 0;
    color: #5d5d5d;
    font-family: "Segoe UI", "Open Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
main {
    max-width: 1290px;
    margin: 0 auto;
}
/*section {
    min-height:45vh;
}*/
button, input, optgroup, select, textarea {
    font-family: inherit;
}
img {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
    -ms-interpolation-mode: bicubic;
}
svg:not(:root) {
    overflow: hidden
}
div, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

/* TYPOGRAPHY 
–––––––––––––––––––––––––––––––––––––––––––––––––– */

p {
    margin-bottom: 1rem;
    font-size: inherit;
    text-rendering: optimizeLegibility;
}
.paragraph-big {
    font-size: 114%;
    line-height: 1.4;
}
em, i {
    font-style: italic;
    line-height: inherit;
}
strong, b {
    font-weight: bold;
    line-height: inherit;
}
small {
    font-size: 80%;
    line-height: inherit;
}
h1, h2, h3, h4, h5, h6 {
    font-style: normal;
    font-weight: normal;
    color: #005592;
    letter-spacing: -0.06em;
    color: inherit;
    text-rendering: optimizeLegibility;
}
h1 {
    font-size: 1.5rem;
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: 0.5rem;
}
h2 {
    font-size: 1.25rem;
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: 0.5rem;
}
h3 {
    font-size: 1.1875rem;
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: 0.5rem;
}
h4 {
    font-size: 1.125rem;
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: 0.5rem;
}
h5 {
    font-size: 1.0625rem;
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: 0.5rem;
}
h6 {
    font-size: 1rem;
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: 0.5rem;
}
@media print, screen and (min-width: 40em) {
    h1 {
        font-size: 3rem;
        color: #005592;
    }
    h2 {
        font-size: 2.5rem;
        color: #005592;
    }
    h3 {
        font-size: 1.9375rem;
        color: #005592;
    }
    h4 {
        font-size: 1.5625rem;
        color: #005592;
    }
    h5 {
        font-size: 1.25rem;
        color: #005592;
    }
    h6 {
        font-size: 1rem;
        color: #005592;
    }
}
a {
    color: #1C65A0;
    text-decoration: none
}
a:hover, a:active, a:focus {
    color: #329aef;
}
hr {
    clear: both;
    max-width: 62.5rem;
    height: 0;
    margin: 1.25rem auto 1.35rem;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #cacaca;
    border-left: 0;
}

/* LISTS 
–––––––––––––––––––––––––––––––––––––––––––––––––– */

ul, ol, dl {
    margin-bottom: 1rem;
    list-style-position: outside;
    line-height: 1.6;
}
li {
    font-size: inherit;
}
ul {
    margin-left: 1.25rem;
    list-style-type: disc;
}
blockquote {
    margin: 0 0 1rem;
    padding: 0.5625rem 1.25rem 0 1.1875rem;
    border-left: 1px solid #cacaca;
}
blockquote, blockquote p {
    line-height: 1.6;
    color: #8a8a8a;
}
cite {
    display: block;
    font-size: 0.8125rem;
    color: #8a8a8a;
}
cite:before {
    content: "— ";
}
button, input, select, textarea {
    letter-spacing: -0.05em;
}
ul.no-bullet {
    margin-left: 0;
    list-style: none;
}

/* TEXT POSITIONING 
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
.right {
    float: right;
}
.left {
    float:left;
}
.centered {
	margin:0 auto;
}
img.centered {
    display:block;
    margin: 2.5em auto;
}

/* TEXT COLORS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.text-grey {
    color:#5d5d5d;
}

/* BUTTONS 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/**/
button, input[type="button"], input[type="reset"], input[type="submit"] {
    background: #00568c;
    background: -webkit-linear-gradient(#00568c, #004a78);
    background: -o-linear-gradient(#00568c, #004a78);
    background: -moz-linear-gradient(#00568c, #004a78);
    background: linear-gradient(#00568c, #004a78);
    display: block;
    color: #e2e2e2;
    font-size: 1.25em;
    border: none;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 1px 1px 2px #4c4848;
    margin-top:1.75em;
}
button[disabled], input[disabled] {
    cursor: default
}
button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover {
    background: #006baf;
    background: -webkit-linear-gradient(#006baf, #0062a0);
    background: -o-linear-gradient(#006baf, #0062a0);
    background: -moz-linear-gradient(#006baf, #0062a0);
    background: linear-gradient(#006baf, #0062a0);
}
button a {
color:#e2e2e2;
padding: 1em;
line-height:2;
}
button a:hover {
color:#fff;
}

/* CALLS TO ACTION and FRONT PAGE
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button.cta_fp {
    display: inline-block;
    color: #1f1f1f;
    background: #ffc129;
    text-decoration: none;
    margin: 235px 0 0 15px;
    /*float: right;*/
    font-size: 1.75em;
    font-weight: 600; 
    box-shadow: 1px 2px 5px #7e7e7e;
}
button.cta_fp:hover {
    background-color: #ffd229;
}
button.cta_fp a {
    color: #1f1f1f;
}
button.cta_fp a:hover {
    color: #633a0c;
}
/*button.cta {
    display: inline-block;
    color: #1f1f1f;
    background: #ffc129;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 400;
    padding: 0.75em 1.5em;
    box-shadow: 1px 2px 5px #7e7e7e;
}
button.cta:hover, {
    background-color: #ffd229;
}*/
.fp {
    margin-top:2rem;
}
/* FORMS 
–––––––––––––––––––––––––––––––––––––––––––––––––– */

*:focus {
    outline: none;
}
label {
    display: inline-block;
    margin: 0.5rem auto 0.25rem;
    font-weight: bold;
    margin-right: 1em;
}
input[type=text], input[type=email], input[type=tel], textarea.message {
    display: block;
    font-family: inherit;
    font-size: 100%;
    line-height: 1.25;
    color: #3c3c3c;
    border: 1px solid #666;
    padding: 5px;
}
input:focus, textarea:focus, input:focus:invalid,
/* when a field is considered invalid by the browser */

textarea:focus:invalid {
    border: 1px solid #db8c34;
}
input:required:valid, textarea:required:valid {
    /* when a field is considered valid by the browser */
    border: 1px solid #5cd053;
}
textarea.message, textarea.message:focus {
    min-width: 480px;
    height: 175px;
}

/* NAVIGATION 
–––––––––––––––––––––––––––––––––––––––––––––––––– */

nav {
    text-align: right;
    font-size:1.1em;
}
nav li {
    background: #00568c;
    background: -webkit-linear-gradient(#00568c, #004a78);
    background: -o-linear-gradient(#00568c, #004a78);
    background: -moz-linear-gradient(#00568c, #004a78);
    background: linear-gradient(#00568c, #004a78);
    display: inline-block;
    padding: 10px 0;
    cursor: pointer;
    border: none;
    border-right: 1px solid #003971;
}
nav li:hover {
    background: #006baf;
    background: -webkit-linear-gradient(#006baf, #0062a0);
    background: -o-linear-gradient(#006baf, #0062a0);
    background: -moz-linear-gradient(#006baf, #0062a0);
    background: linear-gradient(#006baf, #0062a0);
}
nav li a {
    color: #e2e2e2;
    padding: 10px 15px;
    text-decoration: none;
}
nav li a:hover {
    color: #fff;

}

/* HEADERS 
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.header_fp {
    background: url(../img/appliances_intro.png) bottom center no-repeat;
    height: 395px;
}
.header_inner {
    background: url(../img/appliances_logo.png) top left no-repeat;
    height: 100px
}
.header-number {
    font-size: 1.8em;
    letter-spacing: -0.05em;
    line-height: 1;
    color: #3674b1;
}

/* TITLE 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.title {
    font-size: 4.5rem;
    font-weight: 300;
    color: #005592;
    float: left;
    letter-spacing: -0.08em;
    line-height: 1;
}

.title_subheader {
    font-size: 1.8em;
    color: #5d5d5d;
    letter-spacing: -0.06em;
    margin-top: 46px;
    float: left;
    font-weight: 400;
    }


/* COLUMNS 
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.col_one_third {
    width: 33%;
    padding: 0.5em;
    display: inline-block;
    vertical-align: top;
}
.col_one_half {
    width: 48%;
    padding: 0.5em;
    display: inline-block;
    vertical-align: top;
}

/* UNORDERED LIST STYLES 
–––––––––––––––––––––––––––––––––––––––––––––––––– */

ul.checkmarks {
    font-size: 1.2em;
}
ul.checkmarks li {
    background: url(../img/mark.png) left no-repeat;
    padding-left: 35px;
    list-style-type: none;
    margin: 5px
}
ul.service_brands {
    height: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/* FOOTER 
–––––––––––––––––––––––––––––––––––––––––––––––––– */

footer {
    position: relative;
    color: #666;
    font-size: 0.9em;
    font-weight:500;
}
footer li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}
.footer-left-padding {
    margin-left: 200px;
}
.footer-graphic {
    position: absolute;
    width: 175px;
    bottom: -15px;
}
.invisible {
    visibility: hidden;
}